<?xml version="1.0" encoding="UTF-8"?>

<phpunit
         bootstrap="./tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         verbose="true"
         stopOnFailure="false"
         processIsolation="false"
         backupGlobals="false"
         syntaxCheck="true"
         columns="max"
>
    <testsuites>
        <testsuite name="Prest Test Suite">
            <directory suffix=".php">./tests/PrestTest</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <php>
        <ini name="date.timezone" value="UTC"/>
        <ini name="display_errors" value="on"/>
        <ini name="display_startup_errors" value="on"/>
    </php>
    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
        <log type="coverage-clover" target="./tests/coverage/clover.xml"/>
    </logging>
</phpunit>
